body{
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  background-color: #FFFFF0;
}

#header{
  height: 50px;
  margin: 0;
  padding: 10px;
  background-image: -moz-linear-gradient(top, #403427, #000);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#403427), to(#000000));
  color: #FFF2CC; 
}

#header a{
  color: #FFE6CC;
}

#header a:hover { color: #FFF; font-style: italic; }

#header_content{
  padding: 10px;
  margin: 0 auto;
  width: 820px;
}

.formcontainer {
  width: 400px;
  border: 0;
  margin: 10px auto;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.formcontainer#login {
  background-color: rgb(77, 53, 29);
  background-color: rgba(77, 53, 29, 0.75);
  color: #FFEEDE;
  width: 350px;
  padding: 20px;
  margin: 30px auto;
}

.formcontainer#login a, a:hover, a:visited { color: #ffc38a; }

#login input[type="email"], #login input[type="password"]{ 
  width: 95%;
  margin-top: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#title{
  font-weight: bold;
  font-size: 20pt;
  font-family: sans-serif;
}

#right_nav{
  float: right;
}

#right_nav a{
  padding: 4px;
  text-decoration: none;
}

#main{
  padding:0 5px;
  margin: auto;
  width: 800px;
}

#proj_tabs{
  padding: 5px;
  background-color: 
}

#main a{
  text-decoration: none;
  color: #6B3900;
}

input[type="text"], input[type="password"], input[type="email"], textarea{
  width: 95%;
  border: 1px solid #55410A;
  padding: 5px;
  margin: 5px auto;
  resize: vertical;
  background-color: #FFF3E5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

select{
  border: 1px solid #55410A;
  padding: 5px;
  margin: 5px auto;
  background-color: #FFE6CC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type="submit"]{
  background-color: #ED9C10;
  color: white;
  padding: 5px;
  font-weight: bold;
  -moz-border-radius: 10px;
  -moz-box-shadow: 0 5px 5px #55410A;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px #55410A;
  box-shadow: 0 5px 5px #55410A;
}

input[type="submit"]:hover{
  background-color: #FDC21E;
  border: 1px solid black;
  color: black;
  
}

input[type="submit"]:active{

  background-color: #ED9C10;
  color: white;
  -moz-box-shadow: 0 2px 2px #55410A;
  -webkit-box-shadow: 0 2px 2px #55410A;
  box-shadow: 0 2px 2px #55410A;

}


table { width: 100%; border-collapse: collapse; }
table td, th{ padding: 5px; }
table tr, td { font-size: 11px; }
table th{
  border: 1px solid #382A00;
  color: #FFF2CC;
  height: 30px;
  background-image: -moz-linear-gradient(top, #3B2A14, #000);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3B2A14), to(#000000));
}

table.role_assignments {
  margin: 10px auto;
  width: 100%;
  border: 1px solid #FFE7CF;
  font-size: 12px;
  text-align: center;
}

table.role_assignments th {
  border: 0;
  height: 15px;
  background-color: #18130E;
  background-image: none;
  text-align: right;
}

.odd { background-color: #FCE5B3; }
.even{ background-color: #FFF2CC; }

#main ul { width: 100%; }
#main li {
  margin: 3px auto;
  list-style: none;
  display: inline-block;
  min-width: 200px;
  width: 90%;
}

#user_projects_container {
  padding: 0;
  margin: 10px auto;
  width: 50%;
  float: left;
  left: 50%;
}

#head {
  clear: both;
  padding: 10px 25px;
  color: #FFF2CC;
  background-image: -moz-linear-gradient(top, #3B2A14, #000);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3B2A14), to(#000000));
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

#head p { display: block;}
#head p a { 
  display: block; 
  background-color: #ffefe3; 
  padding: 5px; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#head p a:hover {background-color: white; }

#user_projects {
  padding: 0;
  background-color: #ffefe3;
}

#user_projects_container .block a { display: block; padding: 10px 30px; }
#user_projects_container .block a:hover { background-color: #ffe8d6; }

.critical{ background-color: #FF8080; }
.small { font-size: 10px;}
.notice { color: #ce1414; }
.rfloat { float: right; }

#comments_ul li.comment_list{
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  background-color: #BDA674;
}

#header_content #title { display: inline-block; width: 200px; }

#navcontainer {
  display: inline;
  float: right;
  width: 70%;
}

#navcontainer ul#nav {
  list-style: none;
  padding: 7px;
  margin: 0;
}

#navcontainer ul#nav li {
  float: right;
  position: relative;
  width: 70px;
  text-align: center;
}

#navcontainer ul#nav li a {
  display: block;
  padding: 5px;
  text-decoration: none;
}

#navcontainer li ul {
  display: none;
  list-style: none;
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
}

#navcontainer li>ul {
  top: auto;
  left: auto;
}

#navcontainer  li:hover ul {
  display: inline;
  color: #0f0a05;
  background-color: rgba(252, 229, 179, 0.5);
  background-color: rgb(252, 229, 179);  
}

#navcontainer li:hover ul.block li a{ margin-left: -20px; color: #271F17; }
#navcontainer li:hover ul.block li a:hover{ background-color:#fff2cc; color: #0b0803; font-style: normal;}

.time{
  color: #8A4117;
  font-style: italic;
  font-weight: bold;
}

#error_explanation {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 10px; 
  padding: 5px;
  border-top: 20px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #ff636c;
}

#error_explanation h2 {
  font-size: 12px;
  font-weight: bold;
}

#error_explanation ul li { font-size: 12px; color: #ff282b;}
