body{
  margin: 0;
  font-family: sans-serif;
}
#header{
  height: 50px;
  margin: 0;
  padding: 10px;
  background-image: -moz-linear-gradient(top, #9E7700, #000);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9E7700), to(#000000));
  color: #FFF2CC; 
}
#header a{
  color: #FFE6CC; 
}
#header_content{
  padding: 10px;
  margin: auto;
  width: 70%;
}
#title{
  font-weight: bold;
  font-size: 20pt;
  font-family: sans-serif;
}
#right_nav{
  float: right;
}
#right_nav a{
  padding: 4px;
  text-decoration: none;
}
#main{
  padding:0 5px;
  margin: auto;
  width: 65%;
}

#proj_tabs{
  padding: 5px;
  background-color: 
}

#main a{
  text-decoration: none;
  color: #6B3900;
}

input[type="text"], input[type="password"], input[type="email"], textarea{
  width: 300px;
  border: 1px solid #55410A;
  padding: 5px;
  background-color: #FFF3E5;
}

select{
  border: 1px solid #55410A;
  padding: 5px;
  background-color: #FFE6CC;
}

input[type="submit"]{

  background-color: #ED9C10;

  color: white;

  padding: 5px;

  font-weight: bold;

  -moz-border-radius: 10px;

  -moz-box-shadow: 0 5px 5px #55410A;

  -webkit-border-radius: 10px;
  
  -webkit-box-shadow: 0 5px 5px #55410A;
  box-shadow: 0 5px 5px #55410A;

}

input[type="submit"]:hover{

  background-color: #FDC21E;
  border: 1px solid black;
  color: black;
  
}

input[type="submit"]:active{

  background-color: #ED9C10;
  color: white;
  -moz-box-shadow: 0 2px 2px #55410A;
  -webkit-box-shadow: 0 2px 2px #55410A;
  box-shadow: 0 2px 2px #55410A;

}

table td, th{
  padding: 5px;
}
table th{
  border: 1px solid #382A00;
  color: #FFF2CC;
  height: 30px;
  background-image: -moz-linear-gradient(top, #9E7700, #000);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9E7700), to(#000000));
}
.even{
  background-color: #FFF2CC;
}
.critical{
  background-color: #FF8080;
}

