<h3>Members</h3>
<table>
<% @members.each do |member| %>
  <tr>
    <td><%= member.email %></td>
    <td><%= link_to "Remove from project", members_project_path(@project, :user_id => member), :confirm => "Remove this member?", :method => :delete %></td>
  </tr>
<% end %>
</table>
