<h2>Projects</h2>
<% if user_signed_in? %>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.project_name, project_path(project) %></li>
  <% end %>
</ul>
<% end %>

<%= link_to_if(can?(:create, Project), 'Add Project', new_project_path) {} %>
